<h1>Listing parks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

<% for park in @parks %>
  <tr>
    <td><%=h park.name %></td>
    <td><%=h park.address %></td>
    <td><%= link_to 'Show', park %></td>
    <td><%= link_to 'Edit', edit_park_path(park) %></td>
    <td><%= link_to 'Destroy', park, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New park', new_park_path %>
