<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= I18n.t(controller.class.to_s.downcase.gsub("controller", "").to_sym) + ": " +controller.action_name %></title>
    <%= stylesheet_link_tag 'layout' %>
  </head>
  <body>
    <div id= "top_panel">
      <p style="color: green"><%= flash[:notice] %></p>
    </div>
    <div id="left_panel">
      <div id="options-menu">
        <ul>
          <li><a href="<%= vehicle_types_path %>"><%= I18n.t(:vehicle_types) %></a></li>
          <li><a href="<%= users_path %>"><%= I18n.t(:users) %></a></li>
          <li><a href="<%= parks_path %>"><%= I18n.t(:parks) %></a></li>
          <li><a href="<%= parking_spaces_path %>"><%= I18n.t(:parking_spaces) %></a></li>
        </ul>
      </div>
    </div>
    <div id="center_panel">
      <div id="content">
        <%= yield  %>
      </div>
    </div>
    <div id="rigth_panel"></div>
    <div id="bottom_panel"></div>
  </body>
</html>
