<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= I18n.t(controller.class.to_s.downcase.gsub("controller", "").to_sym) + ": " +controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
</head>
<style type="text/css">
  body { 
    background-color: #fff; 
    color: #333; 
  }
  body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
  }
  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }
  a { 
    color: #000; 
  }
  a:visited { 
    color: #666; 
  }
  a:hover { 
    color: #fff; 
    background-color:#000; 
  }
  .fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  #errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square;
  }
  #options-menu {
    width: 230px; 
    float: left; 
    margin: 20px 10px 0 -30px;
    padding: 0;    
  }
  #options-menu ul li{
    list-style: none;
  }
  #content {
    float: left;
  }
  #parking-spaces ul li{
    list-style: none;
    margin: -3px 0 0 0;
  }
  #parking-spaces ul{
    margin-bottom: 10px;
  }
</style>

<body>
<p style="color: green"><%= flash[:notice] %></p>
<div id="options-menu">
  <ul>
    <li><a href="<%= vehicle_types_path %>"><%= I18n.t(:vehicle_types) %></a></li>
    <li><a href="<%= users_path %>"><%= I18n.t(:users) %></a></li>
    <li><a href="<%= parks_path %>"><%= I18n.t(:parks) %></a></li>
    <li><a href="<%= parking_spaces_path %>"><%= I18n.t(:parking_spaces) %></a></li>
  </ul>
</div>
<div id="content">
  <%= yield  %>
</div>

</body>
</html>
